* {
  box-sizing: border-box;
  /* margin: 0; */
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

.container {
  width: 80%;
  margin: 0 auto;
}


header {
  background-color: #eee;
}

header .logo img {
  width: 70px;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav .menu ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 20px;
}

header nav .menu ul a {
  text-decoration: none;
  color: #333;
  text-transform: uppercase;
  /* margin: 0 15px; */
}

/* p {
  background-color: #f00;
  padding: 20px;
  border-radius: 60px 0 60px 0;
  display: none;
} */
/* 
div {
  width: 200px;
  height: 200px;
  background-color: rgb(85, 105, 255);
  display: inline-block;
} */

/* span {
  display: block;
}

a {
  display: block;
} */

.user-wrapper {
  margin: 50px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.user {
  width: 31%;
  border: 1px solid #eee;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 30px;
}

.user .info {
  padding: 20px;
}

.user .info h2 {
  margin-top: 0;
}

.user .image {
  background-color: #00f;
}

.user img {
  display: block;
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.user .social a {
  color: #fb4400;
  font-size: 30px;
}

.hero img {
  display: block;
}

.about {
  padding: 60px 0;
  background-color: #dcdcdc;
}

.user .btn {
  background-color: #fb4400;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
  display: block;
  text-align: center;
  border-radius: 3px;
}